main{
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
}

.project{
    border: 2px solid #c3c3c3;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.project p span{
    font-weight: bold;
}